.field
  = f.label :instructions
  = f.text_area :instructions, placeholder: 'Instructions', rows: 4
.field
  = f.label :skin
  = f.select :skin, options_for_select(@level.class.skins, @level.skin)
.field
  = f.label :is_k1, "Is K1 level?"
  = f.check_box :is_k1
- unless @level.new_record?
  .field
    = link_to "Edit Toolbox Blocks", game_level_edit_blocks_path(@game, @level, :toolbox_blocks)
  .field
    = link_to "Edit Start Blocks", game_level_edit_blocks_path(@game, @level, :start_blocks)
  .field
    = link_to "Edit Required Blocks", game_level_edit_blocks_path(@game, @level, :required_blocks)
