.unplugged.multi

  - data = @level.properties

  %h2!= multi_t(data['title'])
  %p!= multi_t(data['description']) if data['description']
  %p!= multi_t(data['banner']) if data['banner']

  - height = data['height'] || '20'
  - height += 'px'

  .mainblock
    %b!= data['questions'][0]['text']
    %form#voteform{onsubmit: "return doVote()"}
      - data['answers'].each_with_index do |answer, i|
        - correct = answer["correct"]
        .item
          .item-radio
            %input{id: "choice_#{i}", name: "vote", type: "radio", value: "#{i}", onchange: "radioChanged(#{i})", correct: "#{correct}"}
          .item-label{style: "height: #{height}"}
            %label{for: "choice_#{i}"}!= multi_t(answer['text'])

    .clear

    %br/

    .buttons
      %a.btn.btn-primary.next-stage.submitButton
        Submit
  %br/
  %br/
  %br/

  .clear

  %div{:style=>'display:none'}
    #error-dialogcontent
      .modal-content
        %p.dialog-title
          =t("multi.wrong_title")
        %p
          =t("multi.wrong_body")
        .farSide
          %button#ok-button.secondary
            =t("dialog.ok")


    #pre-dialogcontent
      - if data['pre_image']
        .modal-image{style: "margin-top: 0px"}
          != multi_t(data['pre_image'])
      .modal-content
        %p.dialog-title
          != multi_t(data['pre_title']) if data['pre_title']
        %p
          != multi_t(data['pre_body']) if data['pre_body']
        .farSide
          %button#ok-button.secondary
            =t("dialog.ok")

:javascript

  var selection = "none";   // "none", "wrong", "right"
  var buttonEnabled = true;  // avoid multiple simultaneous submissions

  function radioChanged(index) 
  {
    enableButton(true);
    selection = $("#choice_" + index).attr("correct") == "true" ? "right" : "wrong";
  }

  $(function() 
  {
    enableButton(false);

    if ("#{data['pre_title']}")
    {
      setTimeout(function() {
        showDialog("pre");
        }, 1000);
    }
  });

  function enableButton(enable)
  {
    buttonEnabled = enable;

    if (enable)
      $('.submitButton').removeClass("disabled");
    else
      $('.submitButton').addClass("disabled");
  }

  function showDialog(type)
  {
    var dialog = new Dialog({ body: "" });

    // use our prefabricated dialog content
    $(".modal-body").append($("#" + type + "-dialogcontent").clone(true));

    // Standard css hack to center a div within the viewport
    var full_dialog = $(".dash_modal");
    full_dialog.css({
      top: '50%',
      left: '50%',
      marginTop: (full_dialog.height() / -2) + 'px',
      marginLeft: (full_dialog.width() / -2) + 'px'
    });

    // clicking the okay button in the dialog box dismisses it
    $(".modal-body #ok-button").click(function() {
      dialog.hide();
    });

    dialog.show();
  }

  $('.submitButton').click(function() 
  {
    if (buttonEnabled) 
    {
      enableButton(false);

      if (selection == "wrong") 
      {
        showDialog("error");
      }

      if (selection != "none")
      {
        sendReport({
          fallbackResponse: '#{@fallback_response.to_json}',
          callback: '#{@callback}',
          app: 'multi',
          level: '#{@level.level_num}',
          result: selection == "right",
          testResult: selection == "right" ? 100 : 0,
          onComplete: function() 
          {
            if (! nextRedirect)
            {
              enableButton(true);
            }

            if (videoInfo) 
            {
              showVideo(videoInfo);
            } 
            else if (nextRedirect) 
            {
              window.location.href = nextRedirect;
            }
          }
        });
      }
      else
      {
        enableButton(true);
      }
    }
  });
