%h2 Upload a CSV file of your level


= link_to "#{@type_class} Builder Form", @type_class::BUILDER_FORM

-#  remotipart options cf. http://stackoverflow.com/a/16726257
= form_for [@game, @level], method: :post, remote: true, html: {:'data-type' => :html, :multipart => true, :remote => true} do |level_form|
  = hidden_field_tag :size, 8
  = level_form.hidden_field :type, value: @type_class.to_s
  = file_field_tag "maze_source"
  = level_form.text_area :instructions, placeholder: "Instructions", rows: 4
  = level_form.text_field :name, placeholder: "Level Name"
  = level_form.label 'Start Direction'
  = level_form.select :start_direction, options_for_select(@level.class.start_directions)
  = level_form.label 'Step options'
  = level_form.select :step_mode, options_for_select([['Run Button Only', 0], ['Run and Step', 1], ['Step Button Only', 2]])
  = level_form.label 'Is K1 level?'
  = level_form.check_box :is_k1
  = level_form.submit "Create Level"
#validation-error

:javascript
  $(document).ready(function() {
    $('#new_level').on('ajax:beforeSend', function(e, xhr) {
      $('#validation-error').empty();
      var token = $('meta[name="csrf-token"]').attr('content');
      xhr.setRequestHeader('X-CSRF-TOKEN', token);
    });
    $('#new_level').on('ajax:complete', function(e, data) {
      if (data.status === "200") {  // http://stackoverflow.com/a/16699124/2551908
        window.location.href = JSON.parse(data.responseText).redirect
      }
    });
    $('#new_level').on("ajax:error", function(evt, xhr, status, error){
      var errors, errorText;
      try {
        errors = $.parseJSON(xhr.responseText);
      } catch(err) {
        errors = {message: "Generic error ("+error+"). Please reload the page and try again"};
      }
    $('#validation-error')
      .html("<p>Couldn't create level:</p>")
      .append($("<ul/>")
        .append(Object.keys(errors).map(function (v) {
            return $("<li/>").text(errors[v]);
        })));
    });
  });
